.carousel-root {
  background-image: url('../public/images/loading_blur.gif');
  // background: rgba(30, 143, 255, 0.1);
  background-size: cover;
  position: relative;

  .carousel-inner {
    height: 100%;

    .carousel-item {
      height: 100%;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .carousel-item { z-index: 1; }

  // Loading spinner behind carousel seen
  // when images have not loaded yet.
  .loading-img {
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    color: white;
    // font-weight: bold;
    font-style: italic;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    // filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
  }
}

.gallery .carousel { height: 220px; }
.property .carousel { height: 500px; }