@import './_variables.scss';
@import './_BeerNav.scss';
@import './_home.scss';
@import './_list.scss';
@import './_property.scss';
@import './_UploadForm.scss';

.bg-info {
  background-color: rgba(53, 184, 224, 0.5) !important;
}

body {
  padding: 0;
  margin: 0;
}

a:hover { text-decoration: none; }

#__next {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  // height: 100%;

  h1 { font-size: 30px; margin: 0; }
}

// ADMIN =============================
.admin {
  padding: 20px;
  padding-top: $navHeight + 20px;
  height: 100%;
  overflow-y: auto;

  .jumbotron {
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(233, 236, 239, 0.85);
    backdrop-filter: blur(10px);
  }

  .properties {
    text-align: left;

    .card {
      background-color: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(10px);

      .card-header { 
        background-color: rgba(255, 255, 255, 0.3);
        padding: 5px;
        font-size: 24px;
        cursor: pointer;
        &:hover { &:after { opacity: 1; } }

        .property-thumbnail {
          height: 75px;
          width: 75px;
          object-fit: cover;
          border-radius: 50px;
          margin: 10px 20px 10px;
        }

        &:after {
          content: 'Expand';
          color: gray;
          margin-left: 20px;
          opacity: 0;
          transition: all ease .3s;
        }
      }

      .card-body {
        display: flex;
        flex-direction: column;

        .property-image {
          width: 100%;
          margin: 0 auto 15px;
          border-radius: 10px;
        }
      }
    }
  }

}

// LOGIN =============================
.login {
  padding: 20px;
  padding-top: $navHeight + 20px;
  min-height: 100%;
  overflow-y: auto;
}

// FOOTER ============================
.beer-footer {
  margin-top: 20px;
  border-top: 3px solid #ddd;
  background-color: #eee;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  img {
    width: 90%;
    max-width: 200px;
  }

  @media (min-width: 700px) {
    flex-direction: row;

    img {  }
  }
}